.reavel i {
    font-family: 'FontAwesome';
    font-style: normal;
}

.contact-me {
    float:center;
}

.reference li {
    font-size: 16pt;
}

.absolute-pos-fragment {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

h1.no-upper,
h2.no-upper,
h3.no-upper,
h4.no-upper,
h5.no-upper,
h6.no-upper {
  text-transform: none;
}

/* about-me */

#self-intro li {
    list-style: none;
}

#edu-and-experience td {
    vertical-align: top;
}

#edu-and-experience li {
    list-style: none;
    margin: 20px 0;
    font-size: 32px;
}
